
@{
    ViewBag.Title = "Tin tức";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<h1 id="title" style="display:none">tintuc</h1>
<h2>Quản lý tin tức</h2>
<div class="row">
    <div class="col-xs-12">
        <table id="myTable" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Tiêu đề</th>
                    <th>Tóm tắt</th>
                    <th>Nội dung</th>
                    <th>MetaTitle</th>
                    <th>Trạng thái</th>
                    <th class="control"></th>
                </tr>
            </thead>
            <tbody id="dataTable"></tbody>
        </table>
    </div>
</div>
@RenderPage("Modal_Create_Update.cshtml")
@RenderPage("Modal_Delete.cshtml")
@section scripts{
    <script>
        CKEDITOR.replace('noidung');
        CKEDITOR.add;
    </script>
    <script src="~/Scripts/js_BackEnd/QL_TinTuc.js"></script>
}