
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}
<section class="blog py-5" id="blog">
    <div class="container py-xl-5 py-lg-3">
        <h3 class="text-bl text-center font-weight-bold mb-2">Khóa học phổ biến</h3>
        <h6 class="text-colors text-center let-spa mb-5">Nhiều hơn thế nữa</h6>
        <div class="row">
            <!-- blog grid -->
            <div class="col-lg-4 col-md-6 px-2 mt-sm-0 mt-4">
                <div class="card">
                    <div class="card-header p-0 position-relative">
                        <a href="#">
                            <img class="card-img-bottom" src="~/Content/Front_End/my_images/js.jpg" alt="Card image cap">
                            <span class="fa fa-shopping-cart post-icon" aria-hidden="true"></span>
                        </a>
                    </div>
                    <div class="card-body">
                        <h6 class="text-colors let-spa mb-3">20 March 2019</h6>
                        <h5 class="blog-title card-title font-weight-bold">

                            <a href="#" class="text-bl">

                                Học lập trình JavaScript
                            </a>
                        </h5>
                        <div class="row mt-5">
                            <div class="col-3 testi-img-res px-2">
                                <img src="~/Content/Front_End/my_images/thai.jpg" alt="" class="img-fluid rounded-circle" style="height:72px;width:72px" />
                            </div>
                            <div class="col-9 w3_testi_grid mt-xl-2 mt-lg-0 mt-md-2 mt-4">
                                <h5 class="text-colors mb-1">Quốc Thái</h5>
                                <p>Sennior</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //blog grid -->
            <!-- blog grid -->
            <div class="col-lg-4 col-md-6 px-2 mt-md-0 mt-4">
                <div class="card">
                    <div class="card-header p-0 position-relative">
                        <a href="#">
                            <img class="card-img-bottom" src="~/Content/Front_End/images/blog1.jpg" alt="Card image cap">
                            <span class="fa fa-user post-icon" aria-hidden="true"></span>
                        </a>
                    </div>
                    <div class="card-body">
                        <h6 class="text-colors let-spa mb-3">08 November 2018</h6>
                        <h5 class="blog-title card-title font-weight-bold">
                            <a href="#" class="text-bl">
                                At vero eos et accusam et
                                justo duo dolores et ea rebum
                            </a>
                        </h5>
                        <div class="row mt-5">
                            <div class="col-3 testi-img-res px-2">
                                <img src="~/Content/Front_End/images/te2.jpg" alt=" " class="img-fluid rounded-circle" />
                            </div>
                            <div class="col-9 w3_testi_grid mt-xl-2 mt-lg-0 mt-md-2 mt-4">
                                <h5 class="text-colors mb-1">Anna Mull</h5>
                                <p>Sed do eiusmod</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //blog grid -->
            <!-- blog grid -->
            <div class="col-lg-4 col-md-6 px-2 mt-lg-0 mt-4">
                <div class="card">
                    <div class="card-header p-0 position-relative">
                        <a href="#">
                            <img class="card-img-bottom" src="~/Content/Front_End/images/blog3.jpg" alt="Card image cap">
                            <span class="fa fa-user post-icon" aria-hidden="true"></span>
                        </a>
                    </div>
                    <div class="card-body">
                        <h6 class="text-colors let-spa mb-3">10 November 2018</h6>
                        <h5 class="blog-title card-title font-weight-bold">
                            <a href="#" class="text-bl">
                                At vero eos et accusam et
                                justo duo dolores et ea rebum
                            </a>
                        </h5>
                        <div class="row mt-5">
                            <div class="col-3 testi-img-res px-2">
                                <img src="~/Content/Front_End/images/te3.jpg" alt=" " class="img-fluid rounded-circle" />
                            </div>
                            <div class="col-9 w3_testi_grid mt-xl-2 mt-lg-0 mt-md-2 mt-4">
                                <h5 class="text-colors mb-1">Petey Cruiser</h5>
                                <p>Sed do eiusmod</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //blog grid -->
        </div>
    </div>
</section>

