
@{
    ViewBag.Title = "Professiors";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<h1 id="title" style="display:none">@ViewBag.Title</h1>

<section class="teams text-center py-5" id="professors">
    <div class="container py-xl-5 py-lg-3">
        <h3 class="text-bl font-weight-bold mb-2" id="chuyengia">Các chuyên gia</h3>
        <h6 class="text-colors let-spa mb-5">Giàu kinh nghiệm</h6>
        <div class="row inner-sec-w3ls-w3pvt-aminfo pt-sm-4">
            <div class="col-md-3 col-sm-6 p-0">
                <div class="team-grid text-center" id="giangvien1btn">
                    <div class="team-img">
                        <img  class="img-fluid rounded" src="~/Content/Front_End/my_images/thanhha.jpg" style="padding-right:5%; max-width:90%">
                    </div>
                    <div class="team-info">
                        <h4>Marian Dupre</h4>
                        <ul class="d-flex justify-content-center py-3 social-icons">
                            <li class="effect-soc-team1">
                                <a href="https://www.facebook.com/ThanhHa.1905">
                                    <span class="fa fa-facebook-f"></span>
                                </a>
                            </li>
                            <li class="effect-soc-team2">
                                <a href="#">
                                    <span class="fa fa-twitter"></span>
                                </a>
                            </li>
                            <li class="effect-soc-team3">
                                <a href="#">
                                    <span class="fa fa-google-plus"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 p-0 top-tem">
                <div id="giangvien2btn" class="team-grid text-center">
                    <div class="team-img">
                        <img  class="img-fluid rounded" src="~/Content/Front_End/my_images/thai.jpg" alt="">
                    </div>
                    <div class="team-info">
                        <h4>Quốc Thái</h4>
                        <ul class="d-flex justify-content-center py-3 social-icons">
                            <li class="effect-soc-team1">
                                <a href="https://www.facebook.com/nguyenduong.quocthai">
                                    <span class="fa fa-facebook-f"></span>
                                </a>
                            </li>
                            <li class="effect-soc-team2">
                                <a href="#">
                                    <span class="fa fa-twitter"></span>
                                </a>
                            </li>
                            <li class="effect-soc-team3">
                                <a href="#">
                                    <span class="fa fa-google-plus"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 p-0 mt-sm-0 mt-5">
                <div class="team-grid text-center" id="giangvien3btn">
                    <div class="team-img">
                        <img  class="img-fluid rounded" src="~/Content/Front_End/images/t3.jpg" alt="">
                    </div>
                    <div class="team-info">
                        <h4>Judy Crouse</h4>
                        <ul class="d-flex justify-content-center py-3 social-icons">
                            <li class="effect-soc-team1">
                                <a href="#">
                                    <span class="fa fa-facebook-f"></span>
                                </a>
                            </li>
                            <li class="effect-soc-team2">
                                <a href="#">
                                    <span class="fa fa-twitter"></span>
                                </a>
                            </li>
                            <li class="effect-soc-team3">
                                <a href="#">
                                    <span class="fa fa-google-plus"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 p-0 top-tem">
                <div class="team-grid text-center" id="giangvien4btn">
                    <div class="team-img">
                        <img id="giangvien4btn" class="img-fluid rounded" src="~/Content/Front_End/images/t4.jpg" alt="">
                    </div>
                    <div class="team-info">
                        <h4>Judy Crouse</h4>
                        <ul class="d-flex justify-content-center py-3 social-icons">
                            <li class="effect-soc-team1">
                                <a href="#">
                                    <span class="fa fa-facebook-f"></span>
                                </a>
                            </li>
                            <li class="effect-soc-team2">
                                <a href="#">
                                    <span class="fa fa-twitter"></span>
                                </a>
                            </li>
                            <li class="effect-soc-team3">
                                <a href="#">
                                    <span class="fa fa-google-plus"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@*// Thông tin giảng viên*@
<section class="w3ls-bnrbtm py-5 " id="who">
    <div class="py-xl-5 py-lg-3" id="Ha" style="display: none">
        <div class="row no-gutters">
            <div class="col-xl-6 who-left-w3pvt">
                <h6 class="text-colors let-spa">Something</h6>
                <h3 class="text-bl font-weight-bold mt-2 mb-3">Thanh Hà</h3>
                <p>
                    Là những giảng viên có nhiều kinh nghiệm trong các lĩnh vực lập trình
                </p>
                <ul class="list-unstyled who-lists mt-4 ml-5">
                    <li><span class="fa fa-caret-right"></span>Tham gia nhiều dự án lớn</li>
                    <li class="my-2"><span class="fa fa-caret-right"></span>Có khả năng quản lý nhóm</li>
                    <li><span class="fa fa-caret-right"></span>Kĩ sư công nghệ thông tin</li>
                    <li class="mt-2"><span class="fa fa-caret-right"></span>Chịu được áp lực công việc cao</li>
                </ul>
                <div class="bars-main-info mt-5">
                    <h3 class="text-bl font-weight-bold mb-4">Kĩ năng chung</h3>
                    <div class="progress-one two-progress my-3">
                        <h4 class="progress-tittle">Tiếng Anh</h4>
                        <div class="progress-effect progress-effect-1">
                        </div>
                    </div>
                    <div class="progress-one two-progress">
                        <h4 class="progress-tittle">Truyền đạt</h4>
                        <div class="progress-effect progress-effect-2 w-75">
                        </div>
                    </div>
                    <div class="progress-one two-progress my-3">
                        <h4 class="progress-tittle">Kinh nghiệm</h4>
                        <div class="progress-effect progress-effect-3 w-100">
                        </div>
                    </div>
                    <div class="progress-one two-progress my-3">
                        <h4 class="progress-tittle">Quản trị dự án</h4>
                        <div class="progress-effect w-50" style="background-color:green">
                        </div>
                    </div>
                    <div class="progress-one two-progress my-3">
                        <h4 class="progress-tittle">Ví dụ thực tế</h4>
                        <div class="progress-effect w-100" style="background-color:blueviolet">
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-xl-6 mt-xl-0 mt-5 text-xl-right text-center">
                <img class="img-fluid rounded" src="~/Content/Front_End/images/who.jpg" alt="">
            </div>
        </div>
    </div>

    @*// Giảng viên 2*@
    <div class="py-xl-5 py-lg-3" id="Thai" style="display:none">
        <div class="row no-gutters">
            <div class="col-xl-6 who-left-w3pvt">
                <h6 class="text-colors let-spa">Something</h6>
                <h3 class="text-bl font-weight-bold mt-2 mb-3">Quốc Thái</h3>
                <p>
                    Là những giảng viên có nhiều kinh nghiệm trong các lĩnh vực lập trình
                </p>
                <ul class="list-unstyled who-lists mt-4 ml-5">
                    <li><span class="fa fa-caret-right"></span>Tham gia nhiều dự án lớn</li>
                    <li class="my-2"><span class="fa fa-caret-right"></span>Có khả năng quản lý nhóm</li>
                    <li><span class="fa fa-caret-right"></span>Kĩ sư công nghệ thông tin</li>
                    <li class="mt-2"><span class="fa fa-caret-right"></span>Chịu được áp lực công việc cao</li>
                </ul>
                <div class="bars-main-info mt-5">
                    <h3 class="text-bl font-weight-bold mb-4">Kĩ năng chung</h3>
                    <div class="progress-one two-progress my-3">
                        <h4 class="progress-tittle">Tiếng Anh</h4>
                        <div class="progress-effect progress-effect-1">
                        </div>
                    </div>
                    <div class="progress-one two-progress">
                        <h4 class="progress-tittle">Truyền đạt</h4>
                        <div class="progress-effect progress-effect-2 w-75">
                        </div>
                    </div>
                    <div class="progress-one two-progress my-3">
                        <h4 class="progress-tittle">Kinh nghiệm</h4>
                        <div class="progress-effect progress-effect-3 w-100">
                        </div>
                    </div>
                    <div class="progress-one two-progress my-3">
                        <h4 class="progress-tittle">Quản trị dự án</h4>
                        <div class="progress-effect w-50" style="background-color:green">
                        </div>
                    </div>
                    <div class="progress-one two-progress my-3">
                        <h4 class="progress-tittle">Ví dụ thực tế</h4>
                        <div class="progress-effect w-100" style="background-color:blueviolet">
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-xl-6 mt-xl-0 mt-5 text-xl-right text-center">
                <img class="img-fluid rounded" src="~/Content/Front_End/images/who.jpg" alt="">
            </div>
        </div>
    </div>

    @*// Giảng viên 3*@
    <div class="py-xl-5 py-lg-3" id="Thi" style="display:none">
        <div class="row no-gutters">
            <div class="col-xl-6 who-left-w3pvt">
                <h6 class="text-colors let-spa">Something</h6>
                <h3 class="text-bl font-weight-bold mt-2 mb-3">Nguyễn Hữu Thi</h3>
                <p>
                    Là những giảng viên có nhiều kinh nghiệm trong các lĩnh vực lập trình
                </p>
                <ul class="list-unstyled who-lists mt-4 ml-5">
                    <li><span class="fa fa-caret-right"></span>Tham gia nhiều dự án lớn</li>
                    <li class="my-2"><span class="fa fa-caret-right"></span>Có khả năng quản lý nhóm</li>
                    <li><span class="fa fa-caret-right"></span>Kĩ sư công nghệ thông tin</li>
                    <li class="mt-2"><span class="fa fa-caret-right"></span>Chịu được áp lực công việc cao</li>
                </ul>
                <div class="bars-main-info mt-5">
                    <h3 class="text-bl font-weight-bold mb-4">Kĩ năng chung</h3>
                    <div class="progress-one two-progress my-3">
                        <h4 class="progress-tittle">Tiếng Anh</h4>
                        <div class="progress-effect progress-effect-1">
                        </div>
                    </div>
                    <div class="progress-one two-progress">
                        <h4 class="progress-tittle">Truyền đạt</h4>
                        <div class="progress-effect progress-effect-2 w-75">
                        </div>
                    </div>
                    <div class="progress-one two-progress my-3">
                        <h4 class="progress-tittle">Kinh nghiệm</h4>
                        <div class="progress-effect progress-effect-3 w-100">
                        </div>
                    </div>
                    <div class="progress-one two-progress my-3">
                        <h4 class="progress-tittle">Quản trị dự án</h4>
                        <div class="progress-effect w-50" style="background-color:green">
                        </div>
                    </div>
                    <div class="progress-one two-progress my-3">
                        <h4 class="progress-tittle">Ví dụ thực tế</h4>
                        <div class="progress-effect w-100" style="background-color:blueviolet">
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-xl-6 mt-xl-0 mt-5 text-xl-right text-center">
                <img class="img-fluid rounded" src="~/Content/Front_End/images/who.jpg" alt="">
            </div>
        </div>
    </div>

    @*// Giảng viên 4*@
    <div class="py-xl-5 py-lg-3" id="Khanh" style="display:none">
        <div class="row no-gutters">
            <div class="col-xl-6 who-left-w3pvt">
                <h6 class="text-colors let-spa">Something</h6>
                <h3 class="text-bl font-weight-bold mt-2 mb-3">Bùi Phước Quốc Khánh</h3>
                <p>
                    Là những giảng viên có nhiều kinh nghiệm trong các lĩnh vực lập trình
                </p>
                <ul class="list-unstyled who-lists mt-4 ml-5">
                    <li><span class="fa fa-caret-right"></span>Tham gia nhiều dự án lớn</li>
                    <li class="my-2"><span class="fa fa-caret-right"></span>Có khả năng quản lý nhóm</li>
                    <li><span class="fa fa-caret-right"></span>Kĩ sư công nghệ thông tin</li>
                    <li class="mt-2"><span class="fa fa-caret-right"></span>Chịu được áp lực công việc cao</li>
                </ul>
                <div class="bars-main-info mt-5">
                    <h3 class="text-bl font-weight-bold mb-4">Kĩ năng chung</h3>
                    <div class="progress-one two-progress my-3">
                        <h4 class="progress-tittle">Tiếng Anh</h4>
                        <div class="progress-effect progress-effect-1">
                        </div>
                    </div>
                    <div class="progress-one two-progress">
                        <h4 class="progress-tittle">Truyền đạt</h4>
                        <div class="progress-effect progress-effect-2 w-75">
                        </div>
                    </div>
                    <div class="progress-one two-progress my-3">
                        <h4 class="progress-tittle">Kinh nghiệm</h4>
                        <div class="progress-effect progress-effect-3 w-100">
                        </div>
                    </div>
                    <div class="progress-one two-progress my-3">
                        <h4 class="progress-tittle">Quản trị dự án</h4>
                        <div class="progress-effect w-50" style="background-color:green">
                        </div>
                    </div>
                    <div class="progress-one two-progress my-3">
                        <h4 class="progress-tittle">Ví dụ thực tế</h4>
                        <div class="progress-effect w-100" style="background-color:blueviolet">
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-xl-6 mt-xl-0 mt-5 text-xl-right text-center">
                <img class="img-fluid rounded" src="~/Content/Front_End/images/who.jpg" alt="">
            </div>
        </div>
    </div>
</section>

<script>
    var ha = document.getElementById('Ha');
    var thai = document.getElementById('Thai');
    var thi = document.getElementById('Thi');
    var khanh = document.getElementById('Khanh');

    var giangvien1btn = document.getElementById('giangvien1btn');
    var giangvien2btn = document.getElementById('giangvien2btn');
    var giangvien3btn = document.getElementById('giangvien3btn');
    var giangvien4btn = document.getElementById('giangvien4btn');
    giangvien1btn.onclick = function () {
        ha.style.display = "block";
        thai.style.display = "none";
        thi.style.display = "none";
        khanh.style.display = "none";
    }
     giangvien2btn.onclick = function () {
        ha.style.display = "none";
         thai.style.display = "block";
         thi.style.display = "none";
        khanh.style.display = "none";
    }
    giangvien3btn.onclick = function () {
        ha.style.display = "none";
         thai.style.display = "none";
         thi.style.display = "block";
        khanh.style.display = "none";
    }
    giangvien4btn.onclick = function () {
        ha.style.display = "none";
         thai.style.display = "none";
         thi.style.display = "none";
        khanh.style.display = "block";
    }
</script>