@model List<Online_Education.Areas.Admin.Models.GiangVien>
@{
    ViewBag.Title = "Teacher";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}


@section Teacher{
    <!-- Page breadcrumb -->
    <section id="mu-page-breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-page-breadcrumb-area">
                        <h2>Gallery</h2>
                        <ol class="breadcrumb">
                            <li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                            <li class="active">GIẢNG VIÊN</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Start our teacher -->
    <section id="mu-our-teacher">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-our-teacher-area">
                        <!-- begain title -->
                        <div class="mu-title">
                            <h2>Các chuyên gia</h2>
                            <p>Chuyên nghiệp, có nhiều kinh nghiệm lâu năm</p>
                        </div>
                        <!-- end title -->
                        <!-- begain our teacher content -->
                        <div class="mu-our-teacher-content">
                            <div class="row">
                                @foreach (var item in Model)
                                {
                                    <div class="col-lg-3 col-md-3  col-sm-6">
                                        <div class="mu-our-teacher-single">
                                            <figure class="mu-our-teacher-img">
                                                <img src="@Url.Content("~/HinhAnh/"+item.Anh)" alt="teacher img" style="height:260px;width:265px;">
                                                <div class="mu-our-teacher-social">
                                                    <a href="#"><span class="fa fa-facebook"></span></a>
                                                    <a href="#"><span class="fa fa-twitter"></span></a>
                                                    <a href="#"><span class="fa fa-linkedin"></span></a>
                                                    <a href="#"><span class="fa fa-google-plus"></span></a>
                                                </div>
                                            </figure>
                                            <div class="mu-ourteacher-single-content">
                                                <h4>@item.HoTen_GV</h4>
                                                <span>@item.MoTa</span>
                                                <p>Có hơn 99 năm kinh nghiêm trong nghề</p>
                                            </div>
                                        </div>
                                    </div>
                                }

                              
                            </div>
                        </div>
                        <!-- End our teacher content -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End our teacher -->
}


