
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Content/Front_End/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Front_End/css/login.css" rel="stylesheet" />
    <link href="~/Content/Front_End/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid bao">
        @* Sign In Part *@
        <div class="board" id="dn">
            <h1 class="display-5">Đăng Nhập</h1>
            @using (Html.BeginForm("Login", "Login", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, null, new { @class = "alert alert-danger",@role="alert" })
                <label>Tên đăng nhập</label><br />
                <input class="form-control" name="userName" type="text" placeholder="Nhập tên đăng nhập" onblur="this.placeholder='Nhập tên đăng nhập'" onfocus="this.placeholder=''" /><br />
                <label>Mật khẩu</label>
                <input class="form-control" name="passWord" placeholder="Nhập mật khẩu" onblur="this.placeholder='Nhập mật khẩu'" type="password" onfocus="this.placeholder=''" /><br />
                <small><a class="fgt" href="@Url.Action("ForgotPassWord")"><i>Quên mật khẩu?</i> </a></small><br /><br />
                <input class="btn btn btn-block btn-success" type="submit" name="btnSubmit" value="Đăng Nhập" />
                <br />
            }
            <p>Hoặc đăng nhập qua|Hoặc <a id="dkbtn" href="@Url.Action("Register")">Đăng Ký</a> </p>
            <div class="social">
                <a class="fb-ic" href="#"></a>
                <a class="skype-ic" href="#"></a>
                <a class="gmail-ic" href="#"></a>
            </div>
        </div>
    </div>
    @* Srcipt Custom Date Time Group 8 *@
    <script>
        var thang31 = [1, 3, 5, 7, 8, 10, 12]; // Months with 31 day
        var thang30 = [4, 6, 9, 11];    // Months with 30 day
        // Get All Element
        var slDay = document.getElementById('day'),
            slMonth = document.getElementById('month'),
            slYear = document.getElementById('year');
        // Create first Selected
        var strDay = `<option selected>Ngày</option>`,
            strMonth = `<option selected>Tháng</option>`,
            strYear = `<option selected>Năm</option>`;
        // Create Date Variable
        var d = new Date();
        // Default data for Select
        for (var i = 1; i <= 31; i++) {
            strDay += `<option value="` + i + `">` + i + `</option>`;
        }
        for (var i = 1; i <= 12; i++) {
            strMonth += `<option value="` + i + `">` + i + `</option>`;
        }
        for (var i = d.getFullYear() - 100; i <= d.getFullYear(); i++) {
            strYear += `<option value="` + i + `">` + i + `</option>`;
        }
        slDay.innerHTML = strDay;
        slMonth.innerHTML = strMonth;
        slYear.innerHTML = strYear;
        // Function Day Process
        function dayPro(obj) {
            var currDay = obj.value;
            var currMonth = slMonth.value;
            var currYear = slYear.value;
            // If selected Month 2 and Day =30 or 31 => Reset Tháng
            if (currMonth == 2 && (currDay == 30 || currDay == 31)) {
                slMonth.innerHTML = strMonth;
            }
            // If Leap Year
            if (currYear % 4 != 0 && currMonth == 2 && currDay == 29) {
                slYear.innerHTML = strYear;
            }
            //if (currDay==30)

        }
        // Function Month Process
        function monthPro(obj) {
            debugger
            var currDay = slDay.value;
            var currMonth = obj.value;
            var currYear = slYear.value;
            console.log(currDay);
            console.log(currMonth);
            // If February and Day selected ==30 or 31
            if (currMonth == 2 && (currDay == 30 || currDay == 31)) {
                slDay.innerHTML = strDay;
            }
            // If month February and Day is not selected
            var day = `<option selected>Ngày</option>`;
            if (currMonth == 2 && currDay == "Ngày") {
                for (var i = 1; i <= 29; i++) {
                    day += `<option value="` + i + `">` + i + `</option>`;
                }
                slDay.innerHTML = day;
            }
            // Day selected == 31 and not month 31 day
            if (currDay == 31 && thang31.find(m => m == currMonth) == undefined) {
                slDay.innerHTML = strDay;
            }
            // Day is not selected and month has 30 day
            if (thang30.find(m => m == currMonth) != undefined && currDay == "Ngày") {
                for (var i = 1; i <= 30; i++) {
                    day += `<option value="` + i + `">` + i + `</option>`;
                }
                slDay.innerHTML = day;
            }
            // If Not Leap Year is Selected and Month 2 => Reset Day 28
            if (currYear % 4 != 0 && currMonth == 2 && currDay == "Ngày") {
                for (var i = 1; i <= 28; i++) {
                    day += `<option value="` + i + `">` + i + `</option>`;
                }
                slDay.innerHTML = day;
            }

        }
        // Function Year Process
        function yearPro(obj) {
            var currYear = obj.value;
            var currMonth = slMonth.value;
            var currDay = slDay.value;
            // Leap Year and Month 2 and Day 29 => Reset Year
            console.log(currDay);
            // Not Leap Year But Selected Month 2 and Day 29
            var day = `<option selected>Ngày</option>`;
            if (currYear % 4 != 0 && currMonth == 2 && currDay == 29) {
                for (var i = 1; i <= 29; i++) {
                    day += `<option value="` + i + `">` + i + `</option>`;
                }
                slDay.innerHTML = day;
            }
            //// If Not Leap Year and Month 2 => Set 28 Day
            if (currYear % 4 != 0 && currMonth == 2) {
                for (var i = 1; i <= 28; i++) {
                    day += `<option value="` + i + `">` + i + `</option>`;
                }
                slDay.innerHTML = day;
            }
        }

        // --End Date Process
    </script>
    @* -- End Script Custom Date Time Group 8 *@
</body>
</html>