
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Verify</title>
    <link href="~/Content/Front_End/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Front_End/css/login.css" rel="stylesheet" />
    <link href="~/Content/Front_End/css/font-awesome.min.css" rel="stylesheet" />
    <style>
        .board {
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            animation: none;
            transition: 1s;
        }
    </style>
</head>
<body>
    <div class="container-fluid bao">
        @* Sign In Part *@
        <div class="board">
            <h1 class="display-5">Mã xác nhận</h1>
            @using (Html.BeginForm("Verify", "Login", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, null, new { @class = "alert alert-danger", @role = "alert" })
                <label>Nhập mã xác nhận được gửi vào email của bạn</label><br />
                <input class="form-control" name="code" type="text" placeholder="Nhập mã xác nhận" onblur="this.placeholder='Nhập mã xác nhận'" onfocus="this.placeholder=''" /><br />
                <input class="btn btn btn-block btn-success" type="submit" name="btnSubmit" value="Xác nhận" />
            }
        </div>
    </div>
</body>
</html>

